<%= form_with(model: [ @article, @article.comments.build ], local: true, class: 'row d-flex align-items-end') do |form| %>
    <p class="col">
      <%= form.label :Name %><br>
      <%= form.text_field :commenter %>
    </p>
    <p class="col">
      <%= form.label :Comemnt %><br>
      <%= form.text_field :body %>
    </p>
    <p class="col">
      <%= form.submit %>
    </p>
<% end %>