<header>
  <h1>Hello, Rails!</h1>
  <%= link_to 'sair', destroy_user_session_path, method: :delete%>
</header>

<div class="container">
  <article><%= link_to 'New article', new_article_path %></article>
  <h1>Listing articles</h1>
  
  <table>
    <tr>
      <th class="col">Title</th>
      <th class="col">Text</th>
      <th class="col" colspan="3"></th>
    </tr>
  
    <% @articles.each do |article| %>
      <tr>
        <td class="col"><%= article.title %></td>
        <td class="col"><%= article.text %></td>
        <td class="col"><%= link_to 'Show', article_path(article) %></td>
        <td class="col"><%= link_to 'Edit', edit_article_path(article) %></td>
        <td class="col"><%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>