<header>
  <div class="container row text-center align-items-center mx-auto">
    <h1 class="col">User Edit</h1>
    <div class="col"><%= link_to 'Logout', destroy_user_session_path, method: :delete%></div>
  </div>
</header>

<div class="container mt-3">
    <div class="btn-voltar"><%= link_to 'Back', articles_path %></div>
    
    <%= simple_form_for @user do |f| %>
        <%= f.input :email, placeholder: 'user@domain.com'%>
        <%= f.input :password %>

        <h3 class="comments-title mt-4">Items</h3>
        <div id="items">
          <%= f.simple_fields_for :items do |item| %>
              <%= render 'item_fields', f: item %>
            <% end %>
            <button type="button" class="btn btn-primary d-flex mt-3 mb-3 ml-auto mr-auto">
              <%= link_to_add_association 'add item', f, :items %> 
            </button>
        </div>
        <%= f.submit %>
    <% end %>
</div>

